/* Algemeen */

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  transition: all 0.25s;
}

body {
  background-color: #00323b;
  font-family: "Hedvig Letters Serif", serif;
}

a {
  color: #62f6ff;
}
span {
  font-weight: 700;
  text-decoration: underline;
}
p {
  color: #62f6ff;
  font-size: 20px;
}
h1 {
  font-size: 60px;
  color: #62f6ff;
}
h2 {
  color: #62f6ff;
  font-size: 24px;
}

#blauw {
  color: #62f6ff;
  text-decoration: none;
  font-weight: 500;
}

/* Algemeen */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  border-bottom: 10px solid #00b7db;
}

.dante {
  padding: 20px 0px 16px 20px;
  color: #62f6ff;
  font-size: 20px;
  white-space: nowrap;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-right: 190px;
}

nav .dropdown {
  display: none;
}
nav li {
  display: flex;
  gap: 4vw;
  color: white;
}
nav li ul {
  padding: 10px 10px 10px 10px;
  color: white;
}
nav ul:hover {
  background-color: grey;
  border-radius: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 30px 0;
  flex-direction: column;
}
.logo-naam {
  display: flex;
  flex-direction: row;
}
#dglogo {
  width: 85px; /*Geeft de groote van de logo plaatje aan */
}

/* Style van mijn landingpage */

.landingpage {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
  padding-top: 96px;
}

.begin {
  left: -65px;
  position: relative;
}
#knopabout {
  padding: 24px;
  border-radius: 15px;
  background-color: #00738a;
  border: #00d4ff;
  position: relative;
  top: 15px;
  left: 100px;
  text-align: center;
}
#knopabout:hover {
  background-color: #0190ad;
  color: #003742;
}
#knopabout img {
  width: 15px;
  position: relative;
}
#knopabout a {
  font-size: 20px;
}

.landingpage #persoon img {
  width: 319px;
}

/*  */

/*  */

.btn-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 34.5rem;
  height: 5rem;
  padding-top: 15px;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 57%;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-color: #00d4ff;
  border: none;
  border-radius: 15px;
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact input {
  position: relative;
  background: transparent;
  padding: 15px 15px 15px 0;
  border: none;
  color: #00d4ff;
  right: 9px;
  font-size: 1rem;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}

.contact form .input-box .input-field,
.contact form .textarea-field textarea {
  width: 97%;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: #00d4ff;
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid #00b7db;
}

/*  */
.write {
  overflow: hidden;
  animation: fadeIn 0.5s ease-in-out forwards,
    typing 4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  white-space: nowrap;
  opacity: 0; /* Begin met de paragrafen verborgen */
  animation-fill-mode: both; /* Behoudt de animatiestaat na voltooiing */
  border-right: 2px solid transparent; /* Voegt een knipperende cursor toe */
  overflow-wrap: break-word;
}

.write:nth-child(1) {
  animation-delay: 0s;
}
.write:nth-child(2) {
  animation-delay: 0.2s; /* Vertraging voor de tweede paragraaf */
}
.write:nth-child(3) {
  animation-delay: 0.5s; /* Vertraging voor de derde paragraaf */
}
.write:nth-child(4) {
  animation-delay: 0.6s; /* Vertraging voor de vierde paragraaf */
}
.write:nth-child(5) {
  animation-delay: 0.8s; /* Vertraging voor de vijfde paragraaf */
}
.write:nth-child(6) {
  animation-delay: 1s; /* Vertraging voor de zesde paragraaf */
}

.projecten {
  align-items: center;
  display: flex;
  padding-top: 30px;
  gap: 45px;
}
.projecten div:hover {
  transform: scale(1.2);
}
#project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  justify-items: center;
}
#projecten-grid P {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overmij {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#persoon {
  display: flex;
  justify-content: center;
}
#persoon img {
  width: 200px;
  border-radius: 100%;
}
.introductie {
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0 0 7px 0.2px #00d4ff;
  border-radius: 10px;
  background-color: #005161;
  overflow-wrap: break-word;
  width: 772px;
  white-space: wrap;
}

#goose {
  border-radius: 10px;
  align-self: center;
  background-color: black;
  grid-area: 1 / 1 / 2 / 2;
}
#goose img {
  padding: 60px 10px 60px 10px;
}
.pinktekst {
  grid-area: 2 / 1 / 3 / 2;
  width: 15vw;
  text-decoration: none;
}
.projecttekst {
  grid-area: 1 / 2 / 2 / 3;
  width: 15vw;
}
.mastermindtekst {
  width: 15vw;
}
#project {
  grid-area: 2 / 2 / 3 / 3;
}
#project img {
  width: 280px;
  border-radius: 10px;
}
#mastermind {
  grid-area: 1 / 3 / 2 / 4;
}
#mastermind img {
  width: 240px;
  border-radius: 10px;
}

/* Product */

.skills {
  width: auto;
}
.border-skills {
  border: 2px solid #006793;
}
footer {
  height: 100px;
  border-top: 10px solid #00b2ff;
  margin-top: 5vw;
}
.social {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: relative;
  top: 44px;
}
.social img {
  width: 38px;
}
#sociallogo{
  width: 100px;
  position: relative;
  bottom: 19px;
}

.contact-mij{
  position: relative;
  left: 40px ;
  bottom: 26px;
}
.contact-mij h2{
  padding-bottom: 5px;
}
.contact-mij p{
  padding-bottom: 3px;
}

/* Pinkgoose pagina */
.pinkgoosehoofd {
  display: flex;
  flex-direction: row;
}
.pinkgooseblok {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pinkgoose {
  background-color: black;
  padding: 60px;
  border-radius: 20px;
}
#pinkgoose:hover {
  transform: scale(1.2);
}

#tekstbox {
  width: 25vw;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 7px 0.2px #00d4ff;
  margin-left: 50px;
  margin-right: 50px;
}
#pinkwebsite {
  width: 30vw;
  border-radius: 15px;
  margin-top: 180px;
}
#pinkwebsite2 {
  display: none;
}
.pinkwebsite2 {
  display: none;
}

/* project week style */
.projectweekblok {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#team {
  width: 30vw;
  border-radius: 15px;
  margin: 0 15px 0 15px;
}

/* mastermind style */

.mastermindblok {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  padding-bottom: 50px;
}
.mastermindblok img {
  width: 23vw;
}

.java {
  grid-area: 1 / 1 / 2 / 2;
}

.mastermindtekst2 {
  grid-area: 2 / 2 / 3 / 3;
}

.eclipse {
  grid-area: 3 / 3 / 4 / 4;
}

.welkom {
  padding-bottom: 80px;
}

.mijn-cv {
  display: flex;
  gap: 400px;
  position: relative;
  left: 132px;
}
.mijn-vaardigheden li,
.pc-vaardigheden li,
.ervaring li {
  color: #62f6ff;
  padding-top: 8px;
}
.mijn-vaardigheden ul,
.pc-vaardigheden ul {
  position: relative;
  left: 30px;
}

.vaardigheden div,
.mijn-ervaring div {
  padding-bottom: 80px;
}
.vaardigheden h2,
.mijn-ervaring h2 {
  font-size: 30px;
  position: relative;
  right: 30px;
}
.vaardigheden p,
.mijn-ervaring p {
  padding-top: 10px;
}
#tekst-dikgedrukt {
  text-decoration: none;
  font-weight: 700;
}

.profiel {
  width: 500px;
}

.ervaring ul{
  position: relative;
  left: 20px;
}

@media screen and (max-width: 600px) {
  nav ul {
    display: none;
  }
  .projecten {
    display: flex;
    flex-direction: column;
  }
  nav .dropdown {
    display: block;
    margin-right: 50px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .dropbtn {
    background-color: #00b2ff;
    padding: 14px;
    width: 85px;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    margin-top: 10px;
  }
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #2980b9;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00323b;
    min-width: 70px;
    overflow: auto;
    border-radius: 12px;
    font-size: 14px;
    padding: 8px;
    width: 1px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid black;
  }
  .dropdown-content a {
    padding: 4px 8px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {
    background-color: #ddd;
  }
  .show {
    display: block;
  }
  #project-grid {
    display: flex;
    gap: 30px;
  }
  #project-grid p {
    width: 45vw;
    align-items: center;
    padding: 0;
  }
  .introductie {
    overflow: hidden;
    width: 390px;
    height: 346px;
  }
  .write {
    white-space: normal;
  }
  .overmij {
    align-items: center;
    flex-direction: column;
  }
  #persoon img {
    width: 40vw;
  }
  #tekstbox {
    width: 67vw;
  }
  .pinkgoosehoofd {
    display: flex;
    flex-direction: column;
  }
  #pinkwebsite {
    width: 60vw;
    margin-top: 30px;
  }
  .pinkwebsite2 {
    display: block;
  }
  .pinkwebsite1 {
    display: none;
  }

  #team {
    width: 67vw;
  }
  .projectweekblok {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact form {
    width: 410px;
  }
  .contact form .input-box {
    width: 175px;
  }
  .contact form input {
    width: 152px;
    right: -1px;
  }
  .landingpage h1{
    font-size: 25px;
  }
  .landingpage h2 {
    font-size: 15px;
  }

  .begin {
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #knopabout {
    left: 0;
    padding: 15px;
  }
  #knopabout a{
    font-size: 14px;
  }
  #persoon {
    padding-top: 50px;
  }
  .landingpage #persoon img {
    width: 34vw;
  }
  .mijn-cv{
    gap: 20px;
  }
  .welkom h1{
    font-size: 46px;
  }
  .vaardigheden h2,
  .mijn-ervaring h2{
    font-size: 15px;
  }
  .vaardigheden p,
  .mijn-vaardigheden ul,
  .mijn-ervaring p,
  .ervaring li,
  .pc-vaardigheden li{
    font-size: 12px;
  }
  .profiel{
    width: 125px;
  }
  .mijn-cv{
    left: 5px;
  }
  .social img{
    width: 24px;
  }
  #sociallogo{
    width: 52px;
    bottom: 7px;
  }
  .contact-mij h2{
    font-size: 22px;
  }
  .contact-mij p{
    font-size: 14px;
  }
  .contact-mij{
    left: 16px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
